name: Keep Website (ShortURL) Alive

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  ping-backend:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Render backend with retries
        run: |
          for i in {1..3}
          do
            echo "Attempt $i..."
            curl -m 50 -s https://disha-backend-7xmc.onrender.com/ && exit 0
            sleep 10
          done
          echo "Backend did not respond after 3 attempts."
          exit 1
